.page-team-list {
  background-image: url('../images/background-team.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 48px 48px;
  @include media-breakpoint-up(sm) {
    background-size: 70%;
    background-position: 150% 0%;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 140% 0%;
  }
  @include media-breakpoint-up(lg) {
    background-size: 67%;
    background-position: 100% 0%;
  }
  @include media-breakpoint-up(xl) {
    background-size: 58%;
    background-position: 100% 0%;
  }
}
