{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro pl-2 pr-2">
  <div class="intro-content">
    <div>
      <h1>{{ .Site.Data.what_we_do.title }}</h1>
      <p>{{ .Site.Data.what_we_do.subtitle }}</p>
    </div>
    <div style="text-align: center;margin-top: 32px;">
      <figure class="image" style="min-height: 290px;">
        <img class="welcome-image" src="{{ .Site.Data.what_we_do.image }}" alt="Description">
      </figure>
    </div>
  </div>
</div>

<!-- <div class="container pb-6 pb-md-10">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div> -->

<div class="wwd-container mt-4">
  {{ range $index, $element := .Site.Data.what_we_do.items }}
  <div class="mr-2">
    <span class="wwd-subtitle">
      <img class="wwd-icon" src="{{ .icon }}" />{{ .title }}
    </span>
    <p class="wwd-desc-text">
      {{ .description }}
    </p>

  </div>
  {{ end }}
</div>
{{ end }}