.page-services-list {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 49px 5%;
  @include media-breakpoint-up(sm) {
    background-size: 70%;
    background-position: 150% 5%;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 140% 5%;
  }
  @include media-breakpoint-up(lg) {
    background-size: 67%;
    background-position: 100% 5%;
  }
  @include media-breakpoint-up(xl) {
    background-size: 58%;
    background-position: 100% 5%;
  }
}
