{{ define "title" }}Project Include{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}
{{ define "meta"}}
<meta name="description" content="A non-profit initiative aiming to make coding accessible to all people!">{{ end }}

{{ define "main" }}

<div class="intro pb-1 pl-2 pr-2">
  <div class="intro-content">
    <div>
      <h1>{{ .Site.Data.home.title }}</h1>
      <p>{{ .Site.Data.home.subtitle }}</p>
      <span>
        <a href="/services" class="intro-button">Our Programs</a>
        <a href="https://goo.gl/forms/lFxMOM0XlL5six5C2" class="intro-button">Volunteer</a>
      </span>
    </div>
    <div id="slideshow" style="text-align: center;margin-top: 32px;">
      <figure class="image" style="min-height: 290px;">
        <img ref="slideshowImage" alt="Description">
      </figure>
    </div>
  </div>
</div>

<div class="strip strip-instructors p-4">
  <h1 class="welcome-title">{{ .Site.Data.home.welcome_title }}</h1>
  <div class="welcome-content mt-2">
    <p class="welcome-subtitle">{{ .Site.Data.home.welcome_subtitle }}</p>
  </div>
</div>

<div class="container pb-3 pt-3">
  <h1 class="wwd-title mb-1">{{ .Site.Data.what_we_do.title }}</h1>
  <p class="wwd-text">{{ .Site.Data.what_we_do.subtitle }}</p>

  <div class="wwd-container mt-4">
    {{ range $index, $element := .Site.Data.what_we_do.items }}
    <div class="mr-2">
      <span class="wwd-subtitle">
        <img class="wwd-icon" src="{{ .icon }}" />{{ .title }}
      </span>
      <p class="wwd-desc-text">
        {{ .description }}
      </p>

    </div>
    {{ end }}
  </div>


  <!-- <div class="wwd-content">
    <p class="wwd-text">
      We partner with schools and libraries in the GTA to deliver coding workshops and bootcamps!
    </p>
    <div class="wwd-tools">
        <i class="wwd-tool fab fa-html5"></i>
        <i class="wwd-tool fab fa-python"></i>
        <i class="wwd-tool fab fa-css3"></i>
        <i class="wwd-tool fab fa-js"></i>
        <i class="wwd-tool fab fa-java"></i>
    </div>
  </div> -->

</div>

<!-- <div class="m-8 welcome-container">
  <h1 class="welcome-title">{{ .Site.Data.home.welcome_title }}</h1>
  <div class="welcome-content">
    <div class="welcome-image mr-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGTVf63Vm3XgOncMVSOy0-jSxdMT8KVJIc8WiWaevuWiPGe0Pm">
    </div>
    <div class="welcome-text ml-2">
      <p class="welcome-subtitle">{{ .Site.Data.home.welcome_subtitle }}</p>
    </div>
  </div>
</div> -->


<!-- {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-8 pt-md-12 pb-md-12">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="mb-3">Services</h2>
    </div>
    {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}services">View All Services</a>
    </div>
  </div>
</div>
{{end}} -->

<div class="strip strip-instructors">
  <div class="container pt-5 pb-5 pt-md-8 pb-md-8">
    <div class="col-12">
      <h2 class="text-center mb-4 instructors-heading">Meet some of our instructors</h2>
    </div>
    <div class="row justify-content-center">
      {{ range $index, $element := .Site.Data.instructors }}
      <div class="mb-2 mr-3 ml-3">
        <div class="instructor">
          {{ if .image }}<div class="instructor-image"><img class="circle-border" alt="{{ .title }} logo" src="{{ .image }}" /></div>
          {{ end }}
          <h2 class="instructor-title">{{ .title }}</h2>
          <div class="instructor-content">{{ .description }}</div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ end }}